body{
	font-family:Helvetica !important;
	-webkit-font-smoothing: subpixel-antialiased;
}

#navigation{
    background-color: #434547;
}
.navigationdiv{
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.clickshowdiv{
    float: left;
    width: 2%;
    height: 60px;
}
.clickshowdiv_home{
    float: left;
    width: 2%;
    height: 60px;
    background-color: #F39F45;
}
.navigationimgdiv{
    float: left;
    width: 18%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigationimgdiv_home{
    float: left;
    width: 18%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #27292B;
    text-shadow: none;
}
.navigationimgdiv img, .navigationimgdiv_home img{
    width: 20px;
    height: 20px;
    margin-top: 20px;
}
.navigationtitlediv{
    float: left;
    width: 80%;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    color: #CCCFD3;
    text-shadow: none;
}
.navigationtitlediv_home{
    float: left;
    width: 80%;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #27292B;
    text-shadow: none;
}
#header{
    background-image: url("../image/home/headerbackground.png");
    background-size: 100% 400px;
    width: 100%;
    height: 400px;
}
#headertitlediv{
    width: 100%;
    height: 65px;
    line-height: 55px;
    text-align: center;
    text-shadow: none;
}
.headernldiv{
    float: left;
    width: 12%;
    text-align: center;
    height: 55px;
    text-shadow: none;
}
.headernldiv img{
    height: 25px;
    width: 25px;
    margin-top: 15px;
    text-shadow: none;
}
.headerjiujiudiv{
    float: left;
    width: 75%;
    text-align: center;
    height: 65px;
    text-shadow: none;
}
.headerjiujiudiv img{
    height: 30px;
    width: 120px;
    margin-top: 15px;
}
.loginregisternavigation{
    top: 42px;
    right: 8px;
    height: 71px;
    width: 90px;
    position: absolute;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    opacity: 0.8;
    z-index: 10000;
    text-shadow: none;
}
.lrnavigationldiv{
    height: 35px;
    line-height: 35px;
    color: #56392F;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #F2ECE3;
    text-shadow: none;
}
.lrnavigationrdiv{
    height: 35px;
    line-height: 35px;
    color: #56392F;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    text-shadow: none;
}
#headerprescriptiondiv{
    width: 100%;
    height: 50px;
    padding-left: 2%;
}
#prescriptionnamediv{
    float: left;
    width: 71%;
    border: 1px solid #DFD7C8;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 40px;
    line-height: 40px;
    background-color: #FFFFFF;
    text-shadow: none;
}
.searchimgdiv{
    float: left;
    width: 20px;
    height: 40px;
    padding-left: 5px;
    text-shadow: none;
}
.searchimgdiv img{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    text-shadow: none;
}
.prescriptionname{
    float: left;
    width: 80%;
    height: 28px;
    line-height: 28px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    color: #B9B9B9;
    text-shadow: none;
}
.prescriptionbutton{
    float: left;
    width: 24%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #F4A046;
    background-color: #F4A046;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    text-shadow: none;
}
#headerdiseasediv{
    margin-left: 2%;
    border: none;
    border-radius: 8px;
    background-image: url("../image/home/paopao.jpg");
    background-size: 100% 300px;
    width: 96%;
    height: 280px;
    text-shadow: none;
}
.diseasediv1{
    width: 100%;
    height: 80px;
    text-shadow: none;
}
.flsubdiv1{
    float: left;
    width: 25%;
    height: 80px;
    text-shadow: none;
}
.flsubdiv1 div{
    height: 50px;
    line-height: 50px;
    width: 50px;
    border: none;
    border-radius: 25px;
    background: #CD7054;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 5px;
    margin-top: 10px;
    text-shadow: none;
}
.flsubdiv2{
    float: left;
    width: 25%;
    height: 80px;
    text-shadow: none;
}
.flsubdiv2 div{
    height: 40px;
    line-height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #CD3700;
    border: none;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 2px;
    margin-top: 18px;
    text-shadow: none;
}
.flsubdiv3{
    float: left;
    width: 25%;
    height: 80px;
    text-shadow: none;
}
.flsubdiv3 div{
    height: 60px;
    line-height: 60px;
    width: 60px;
    border-radius: 30px;
    background: #388E8E;
    border: none;
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 12px;
    text-shadow: none;
}
.flsubdiv4{
    float: left;
    width: 25%;
    height: 80px;
    text-shadow: none;
}
.flsubdiv4 div{
    height: 70px;
    line-height: 70px;
    width: 70px;
    border-radius: 35px;
    background: #EEE8AA;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 8px;
    text-shadow: none;
}
.diseasediv2{
    width: 100%;
    height: 120px;
    text-shadow: none;
}
.slsubdiv1{
    float: left;
    width: 35%;
    height: 120px;
    text-shadow: none;
}
.slsubdiv11{
    height: 30px;
    line-height: 30px;
    width: 30px;
    border-radius: 15px;
    background: #9370DB;
    border: none;
    font-size: 8px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 20px;
    text-shadow: none;
}
.slsubdiv12{
    height: 40px;
    line-height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #8B2252;
    border: none;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 12px;
    margin-left: 30px;
    text-shadow: none;
}
.slsubdiv2{
    float: left;
    width: 40%;
    height: 120px;
    text-shadow: none;
}
.slsubdiv2 div{
    height: 100px;
    line-height: 100px;
    width: 100px;
    border-radius: 50px;
    background: #EE7600;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    text-shadow: none;
}
.slsubdiv3{
    float: left;
    width: 25%;
    height: 120px;
    text-shadow: none;
}
.slsubdiv3 div{
    height: 60px;
    line-height: 60px;
    width: 60px;
    border-radius: 30px;
    background: #FFC1C1;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
    text-shadow: none;
}
.diseasediv3{
    width: 100%;
    height: 70px;
    text-shadow: none;
}
.tlsubdiv1{
    float: left;
    width: 25%;
    height: 70px;
    text-shadow: none;
}
.tlsubdiv1 div{
    height: 54px;
    line-height: 54px;
    width: 54px;
    border-radius: 27px;
    background: #EE0000;
    border: none;
    font-size: 9px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 10px;
    text-shadow: none;
}
.tlsubdiv2{
    float: left;
    width: 25%;
    height: 70px;
    text-shadow: none;
}
.tlsubdiv2 div{
    height: 44px;
    line-height: 44px;
    width: 44px;
    border-radius: 22px;
    background: #FF00FF;
    border: none;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-top: -20px;
    text-shadow: none;
}
.tlsubdiv3{
    float: left;
    width: 25%;
    height: 70px;
    text-shadow: none;
}
.tlsubdiv3 div{text-shadow: none;
    height: 70px;
    line-height: 70px;
    width: 70px;
    border-radius: 35px;
    background: #8EE5EE;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}
.tlsubdiv4{text-shadow: none;
    float: left;
    width: 25%;
    height: 70px;
}
.tlsubdiv4 div{text-shadow: none;
    height: 60px;
    line-height: 60px;
    width: 60px;
    border-radius: 30px;
    background: #454545;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    margin-top: -20px;
}
.content{text-shadow: none;
    padding: 0px;
}
.emptyviewhistorydiv{text-shadow: none;
    margin-top: 20px;
    width: 97%;
    background-image: url("../image/home/line.png");
    background-repeat: repeat-y;
    background-position: 53px;
    background-size: 20px 2000px;
}
.viewhistorylinediv{text-shadow: none;
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
}
.viewhistorylinetitle{text-shadow: none;
    float: left;
    width: 60px;
    height: 55px;
    line-height: 55px;
    color: #57392E;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.viewhistorylinepointdiv{text-shadow: none;
    float: left;
    height: 55px;
    line-height: 55px;
    width: 10px;
    text-align: center;
}
.viewhistorylinepoint{text-shadow: none;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #F39F51;
    border: none;
    margin-top: 22px;
}
.viewhistorylinecontentdiv{text-shadow: none;
    float: left;
    width: 75%;
    height: 55px;
    line-height: 55px;
    background-image: url("../image/home/content.png");
    background-size: 100% 55px;
}
.viewhistorylinecontent{text-shadow: none;
    height: 55px;
    line-height: 55px;
    color: #F8FFFF;
    font-size: 15px;
    padding-left: 20px;
}
.contentblock{text-shadow: none;
    width: 100%;
    height: 4px;
    background-color: #F2ECE3;
}
.onetotaldivclass{text-shadow: none;
    margin-top: 20px;
    width: 100%;
}
.contentnavigation1spacediv{text-shadow: none;
    width: 94%;
    margin-left: 3%;
    height: 100px;
    border: none;
    border-radius: 8px;
    background-size: 100% 100px;
    text-align: center;
    background-image: url("../image/home/healthvoicebackground.png");
}
.twototaldivclass{text-shadow: none;
    margin-top: 10px;
    width: 100%;
    height: 100px;
}
.divtwoclass{text-shadow: none;
    float: left;
    width: 50%;
}
.contentnavigation2spaceleftdiv{text-shadow: none;
    width: 92%;
    margin-left: 6%;
    height: 100px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-size: 100% 100px;
}
.contentnavigation2spacerightdiv{text-shadow: none;
    width: 92%;
    margin-right: 6%;
    margin-left: 2%;
    height: 100px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-size: 100% 100px;
}
.contentnavigation2spacediv_mystory{text-shadow: none;
    background-image: url("../image/home/mystorybackground.png");
}
.contentnavigation2spacediv_naturaltherapy{
    background-image: url("../image/home/naturaltherapybackground.png");
}
.contentnavigation2spacediv_ritucharya{
    background-image: url("../image/home/ritucharyabackground.png");
}
.contentnavigation2spacediv_healthinfo{
    background-image: url("../image/home/healthinfobackground.png");
}
.cncircle1{text-shadow: none;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: rgba(100, 100, 100, 0.5);
    display:inline-block;
    margin-top: 10px;
}
.cncircle2{text-shadow: none;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: rgba(244, 172, 71, 0.5);
    display:inline-block;
    margin-top: 10px;
}
.cncircleimg{text-shadow: none;
    text-align: center;
}
.cncircleimg img{text-shadow: none;
    width: 20px;
    height: 20px;
    padding-top: 15px;
}
.cncircletext{text-shadow: none;
    text-align: center;
    font-size: 13px;
    color: white;
    margin-top: 5px;
}
#contentnavigation{text-shadow: none;
    margin-bottom: 20px;
}
#footer{text-shadow: none;
    background-color: #F2ECE3;
}
.addiv{text-shadow: none;
    margin-bottom: 10px;
}
.switchdiv{text-shadow: none;
    width: 95%;
    margin: 0 auto;
}
.phonediv{text-shadow: none;
    width: 49%;
    height: 30px;
    float: left;
    text-align: right;
}
.pcdiv{text-shadow: none;
    width: 49%;
    height: 30px;
    float: left;
    text-align: right;
}
.phonepcdiv{text-shadow: none;
    width: 2%;
    float: left;
    height: 30px;
}
.phone, .pc{text-shadow: none;
    width: 120px;
    height: 25px;
    border: 1px solid #F39F51;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #F39F51;
    margin:0 auto;
    text-align: center;
    vertical-align: middle;
}
.phoneimg, .pcimg{text-shadow: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 10px;
}
.phonetext, .pctext{text-shadow: none;
    width: 50px;
    float: left;
    height: 30px;
    line-height: 25px;
}
.phoneimg img{text-shadow: none;
    width: 16px;
    height: 20px;
    margin-top: 2px;
}
.pcimg img{text-shadow: none;
    width: 20px;
    height: 20px;
    margin-top: 2px;
}
.declarediv{text-shadow: none;
    margin-top: 60px;
    margin-bottom: 5px;
    text-align: center;
}
.aboutustitle{text-shadow: none;
    color: #56392F;
    font-size: 11px;
    font-weight: 400;
}
.aboutuscontent{text-shadow: none;
    color: #B8ACA4;
    font-size: 10px;
    font-weight: 200;
    margin-top: 5px;
}
a{text-shadow: none;
    text-decoration:none;
    color:#B9B9B9
}
.slide{text-shadow: none;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.slide .img-div{text-shadow: none;
    position:absolute;top:0;left:0;width:1500px;
}
.slide .img-div img{text-shadow: none;
    float:left;
}
.slide img{text-shadow: none;
    width:500px;
}
.slide-btn{text-shadow: none;
    width: 100%;
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 10px;
    z-index: 11;
    text-align: center;
}
.slide-btn a.hover{text-shadow: none;
    color:#F39F51;
}