/*header*/
.homeheaderdiv{
    background-image: url("/image/home/headerbackground.png");
    background-size: 100% 400px;
    width: 100%;
    height: 400px;
}
.homeheadertitlediv{
    width: 100%;
    height: 66px;
    line-height: 66px;
    text-align: center;
    text-shadow: none;
}
.homeheadertitle1{
    float: left;
    width: 10%;
    text-align: left;
    height: 66px;
    margin-left: 2%;
}
.homeheadertitle3{
    float: left;
    width: 10%;
    text-align: right;
    height: 66px;
    margin-right: 3%;
}
.homeheadertitle1 img, .homeheadertitle3 img{
    height: 25px;
    width: 25px;
    margin-top: 20px;
}
.homeheadertitle2{
    float: left;
    width: 75%;
    text-align: center;
    height: 66px;
}
.homeheadertitle2 img{
    height: 30px;
    width: 120px;
    margin-top: 20px;
}
.homeheaderprescriptiondiv{
    width: 100%;
    height: 50px;
    padding-left: 2%;
    text-shadow: none;
}
.homeheaderprescription1{
    float: left;
    width: 71%;
    border: 1px solid #DFD7C8;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 40px;
    line-height: 40px;
    background-color: #FFFFFF;
}
.homeheaderprescriptionimg{
    float: left;
    width: 20px;
    height: 40px;
    padding-left: 5px;
}
.homeheaderprescriptionimg img{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.homeheaderprescriptioninput{
    float: left;
    width: 80%;
    height: 28px;
    line-height: 28px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    color: #B9B9B9;
    text-shadow: none;
}
.homeheaderprescription2{
    float: left;
    width: 24%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #F4A046;
    background-color: #F4A046;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    text-shadow: none;
}
#homeheaderdiseasediv{
    margin-left: 2%;
    border: none;
    border-radius: 8px;
    background-image: url("/image/home/paopao.jpg");
    background-size: 100% 300px;
    width: 96%;
    height: 280px;
    text-shadow: none;
}


.liangfangblackheader{
    width: 100%;
    background-color: #474547;
    height: 50px;
    text-shadow: none;
}
.liangfangblackheaderimg{
    width: 10%;
    height: 50px;
    float:left;
    text-align: left;
}
.liangfangblackheaderimg img{
    width: 15px;
    height: 20px;
    margin-top: 15px;
    margin-left: 8px;
}
.liangfangprescriptiondiv{
    float: left;
    width: 72%;
    border: 1px solid #DFD7C8;
    height: 30px;
    line-height: 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 9px;
    text-shadow: none;
}
.liangfangprescriptioninput{
    width: 90%;
    height: 20px;
    border: none;
    padding-left: 8px;
    font-size: 14px;
    font-weight: 400;
    text-shadow: none;
}
.liangfangprescriptionbutton{
    float: left;
    width: 15%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
.liangfangheadertitle_detail{
    height: 50px;
    line-height: 50px;
    width: 80%;
    float: left;
    text-shadow: none;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: normal;
    text-align: center;
}
.liangfangheadershare_detail{
    width: 10%;
    height: 50px;
    float: left;
}
.liangfangheadershare_detail img{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-right: 8px;
}
.liangfangheadertitle_detailimage{
    height: 50px;
    line-height: 50px;
    width: 90%;
    float: left;
    text-shadow: none;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: normal;
    text-align: center;
}
.liangfangcontentbodydiv{
    width: 100%;
    min-height: 150px;
}
.liangfangsearchcountdiv{
    width: 100%;
    height: 40px;
    background-color: #F39F51;
}
.liangfangsearchcountorderdiv{
    float: left;
    width: 50%;
    height: 40px;
    text-shadow: none;
}
.liangfangsearchcountorder{
    float: left;
    padding-left: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    text-shadow: none;
}
.liangfangsearchcountimg{
    float: left;
    margin-left: 5px;
    height: 40px;
}
.liangfangsearchcountimg img{
    height: 20px;
    width: 20px;
    margin-top: 10px;
}
.liangfangsearchcountresult{
    float: left;
    width: 48%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    color: #FFFFFF;
    text-align: right;
    opacity: 0.8;
}
.liangfangcontentlistdiv{
    min-height: 100px;
    width: 100%;
}
#liangfangcontentlist table{
    width: 100%;
    border-collapse: collapse;
}
#liangfangcontentlist table tbody tr td{
    height: 40px;
    border-bottom: 1px solid #DFD7C8;
}
#liangfangcontentlist table tbody tr td:nth-child(1){
    width: 10px;
}
#liangfangcontentlist table tbody tr td:nth-child(2){
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    color: #56392F;
}
#liangfangcontentlist table tbody tr td:nth-child(3){
    width: 70px;
    text-align: right;
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    color: #F39F51;
    opacity: 0.9;
    margin-right: 5px;
}
#liangfangcontentlist table tbody tr td:nth-child(4){
    width: 50px;
    text-align: left;
    font-size: 14px;
    font-weight: bolder;
    text-shadow: none;
    color: #F39F51;
}
.liangfangcontentrelationdiv{
     width: 100%;
}
.liangfangrelationdiv{
    width: 100%;
    text-shadow: none;
}
.liangfangrelationtitle{
    color: #56392F;
    font-size: 15px;
    font-weight: bold;
    text-shadow: none;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background-color: #F2ECE3;
}
.liangfangrelationlist{
    width: 100%;
    min-height: 40px;
}
.liangfangrelationlist table{
    width: 100%;
    text-shadow: none;
    border-collapse: collapse;
}
.liangfangrelationlist table tbody tr td{
    height: 40px;
    border-bottom: 1px solid #DFD7C8;
}
.liangfangrelationlist table tbody tr td:nth-child(1){
    width: 10px;
}
.liangfangrelationlist table tbody tr td:nth-child(2){
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    color: #56392F;
}
.liangfangcontentemptylistdiv{
    height: 55px;
    width: 100%;
    text-align: center;
    padding-top: 25px;
}
.liangfangcontentemptylist{
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #56392F;
    font-size: 15px;
    font-weight: normal;
    text-shadow: none;
    width: 50%;
    margin-left: 25%;
    border: 1px solid #F39F51;
    border-radius: 5px;
}
#liangfangcontentdetailtitle{
    height: 20px;
    line-height: 20px;
    padding-left: 8px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: none;
    color: #56392F;
    margin-top: 10px;
}
#liangfangcontentdetailauthor{
    height: 20px;
    line-height: 20px;
    width: 100%;
    padding-left: 15px;
    font-size: 12px;
    text-shadow: none;
    font-weight: normal;
    color: #BCB1AD;
    opacity: 0.8;
}
#liangfangcontentdetailstory{
    min-height: 50px;
    font-size: 13px;
    font-weight: normal;
    text-shadow: none;
    color: #56392F;
    text-shadow: none;
}
#liangfangcontentdetailstory p {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.8em;
    text-shadow: none;
}
#liangfangcontentdetailstory img{
    width: 100%;
    height: 100px;
}
.liangfangcontentdetailplacediv{text-shadow: none;
    width: 100%;
    height: 5px;
    background-color: #F2ECE3;
}
.liangfangcontentdetailimagediv{
    width: 100%;
    border-bottom: 1px solid #DFD7C8;
}
#liangfangcontentdetailimage img{
    width: 96%;
    padding-left: 2%;
    padding-top: 5px;
    height: 200px;
}
.liangfangcontentdetailbutton{
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    margin-left: 20%;
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
    text-shadow: none;
    background-color: #F39F51;
    border-radius: 5px;
    text-align: center;
}
.liangfangcontentdetailmorediv{
    width: 100%;
}
.liangfangcontentdetailmore{
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #DFD7C8;
}
.liangfangcontentdetailmoretitle{
    height: 30px;
    line-height: 30px;
    width: 80px;
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    color: #FFFFFF;
    background-color: #553930;
    text-align: center;
    margin-left: 5px;
    border-radius: 15px;
    margin-top: 5px;
}
.liangfangcontentdetailmorecontent{
    color: #56392F;
    font-size: 13px;
    font-weight: normal;
    text-shadow: none;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.5em;
}
.liangfangcontentdetailmorecontent p{
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    text-shadow: none;
}
.liangfangcontentdetailmorecontent img{
    width: 100%;
    height: 100px;
}
.liangfangcontentdetailcommenttitlediv{
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: #F39F51;
}
.liangfangcontentdetailcommenttitlespace{
    float: left;
    width: 2%;
    height: 50px;
}
#liangfangcontentdetailcommenttitle{
    float: left;
    width: 88%;
    font-size: 18px;
    font-weight: normal;
    color: #FFFFFF;
    text-shadow: none;
    height: 50px;
    line-height: 50px;
}
.liangfangcontentdetailcommenttitleimg{
    float: left;
    width: 10%;
}
.liangfangcontentdetailcommenttitleimg img{
    width: 20px;
    height: 10px;
    text-align: center;
}
#liangfangcontentdetailcommentlist{
    width: 100%;
}
#liangfangcontentdetailcommentlist table{
    width: 100%;
    border-collapse: collapse;
}
#liangfangcontentdetailcommentlist table tbody tr td{
    height: 50px;
    border-bottom: 1px solid #DFD7C8;
}
#liangfangcontentdetailcommentlist table tbody tr td:nth-child(1){
    width: 50px;
    text-align: center;
}
#liangfangcontentdetailcommentlist table tbody tr td div img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.liangfangcommentmemberdiv{
    width: 100%;
}
.liangfangcommentmember{
    float: left;
    width: 45%;
    color: #AA9c97;
    font-size: 14px;
    text-shadow: none;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
}
.liangfangcommentscore{
    float: left;
    width: 15%;
    color: #F39F51;
    font-size: 16px;
    text-shadow: none;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
}
.liangfangcommenttime{
    float: left;
    width: 40%;
    font-size: 10px;
    font-weight: normal;
    text-shadow: none;
    color: #56392F;
    height: 30px;
    line-height: 30px;
}
.liangfangcommentexperience{
    float: left;
    font-size: 12px;
    text-shadow: none;
    font-weight: normal;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #56392F;
}
.liangfangcontentdetailcommentbuttondiv{
    height: 55px;
    border-bottom: 1px solid #DFD7C8;
}
.liangfangcontentdetailcommentbutton{
    width: 50%;
    height: 36px;
    line-height: 36px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 25%;
    background-color: #F39F51;
    font-size: 15px;
    font-weight: normal;
    color: #FFFFFF;
    text-shadow: none;
    text-align: center;
}
.liangfangcontentdetailcommentbackdiv{
    height: 55px;
    width: 100%;
}
.liangfangcontentdetailcommentbackbutton{
    height: 35px;
    line-height: 35px;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    font-size: 15px;
    color: #F39F51;
    font-weight: normal;
    text-shadow: none;
    border: 1px solid #F39F51;
    border-radius: 5px;
    text-align: center;
}
#liangfangrelationvideolist table{
    width: 100%;
    text-shadow: none;
    border-collapse: collapse;
}
#liangfangrelationvideolist table tbody tr td{
    height: 40px;
    border-bottom: 1px solid #DFD7C8;
}
#liangfangrelationvideolist table tbody tr td:nth-child(1){
    width: 10px;
}
#liangfangrelationvideolist table tbody tr td:nth-child(2){
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    color: #56392F;
}
#liangfangrelationvideolist table tbody tr td:nth-child(3){
    width: 37px;
}
#liangfangmateriallistdiv{
    min-height: 100px;
    width: 100%;
}
#liangfangmateriallistdiv p{
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 15px;
    font-weight: bold;
    text-shadow: none;
    color: #56392F;
}
#liangfangmateriallistdiv img {
    width: 90%;
}
.articleblackheader{
    width: 100%;
    background-color: #474547;
    height: 50px;
}
.articleblackheaderback{
    width: 10%;
    height: 50px;
    float:left;
    text-align: left;
}
.articleblackheadershare{
    width: 10%;
    height: 50px;
    float:left;
    text-align: right;
}
.articleblackheaderback img{
     width: 15px;
     height: 20px;
     margin-top: 15px;
     margin-left: 8px;
}
.articleblackheadershare img{
    width: 15px;
    height: 20px;
    margin-top: 15px;
    margin-right: 8px;
}
.articleblackheadertitle{
    height: 50px;
    line-height: 50px;
    float: left;
    width: 90%;
    text-shadow: none;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: normal;
    text-align: center;
}
.articleblackheadertitle_detail{
    height: 50px;
    line-height: 50px;
    float: left;
    width: 80%;
    text-shadow: none;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: normal;
    text-align: center;
}
/*content*/
.content{
    padding: 0px;
}
.dateconditiondiv{
    width: 100%;
}
.contentconditiondatebuttondiv{
    width: 100%;
    height: 60px;
    text-align: center;
    text-shadow: none;
}
.contentconditiondatebuttondiv label{
    height: 35px;
    width: 90%;
    border: 1px solid #F4A046;
    border-radius: 5px;
    background-color: #F4A046;
    font-size: 18px;
    font-weight: normal;
    text-shadow: none;
    color: #FFFFFF;
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 5%;
}
.contentconditiondateselectdiv{
    min-height: 10px;
    width: 100%;
    text-align: left;
    background-color: #F2ECE3;
    text-shadow: none;
}
.contentconditionselect{
    font-size: 16px;
    font-weight: bold;
    text-shadow: none;
    color: #56392F;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
}
#contentbodydiv, .contentbody{
    width: 100%;
}
.contentbodylist{
    width: 100%;
    min-height: 100px;
    text-shadow: none;
}
.homecontentviewdiv{
    width: 100%;
}
.homeemptyviewhistorydiv{
    margin-top: 20px;
    width: 97%;
    background-image: url("/image/home/line.png");
    background-repeat: repeat-y;
    background-position: 53px;
    background-size: 20px 2000px;
}
.homeviewhistorylinediv{
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
}
.homeviewhistorylinetitle{
    float: left;
    width: 60px;
    height: 55px;
    line-height: 55px;
    color: #57392E;
    text-shadow: none;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.homeviewhistorylinepointdiv{
    float: left;
    height: 55px;
    line-height: 55px;
    width: 10px;
    text-align: center;
}
.homeviewhistorylinepoint {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #F39F51;
    border: none;
    margin-top: 22px;
}
.homeviewhistorylinecontentdiv {
    text-shadow: none;
    float: left;
    width: 75%;
    height: 55px;
    line-height: 55px;
    background-image: url("/image/home/content.png");
    background-size: 100% 55px;
}
.homeviewhistorylinecontent {
    height: 55px;
    line-height: 55px;
    color: #F8FFFF;
    font-size: 15px;
    text-shadow: none;
    font-weight: normal;
    padding-left: 20px;
}
.contentblock{
    width: 100%;
    height: 4px;
    background-color: #F2ECE3;
}
.homecontentnavigationdiv{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.homenavigationjkzsdiv{
    width: 100%;
}
.homenavigationjkzs{
    width: 94%;
    margin-left: 3%;
    height: 100px;
    border: none;
    border-radius: 8px;
    background-size: 100% 100px;
    text-align: center;
    background-image: url("/image/home/JKZS_BG.png");
}
.homenavigationother2div{
    margin-top: 10px;
    width: 100%;
    height: 100px;
}
.homenavigationotherdiv{
    float: left;
    width: 50%;
}
.homenavigationotherdiv_left{
    width: 92%;
    margin-left: 6%;
    height: 100px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-size: 100% 100px;
}
.homenavigationotherdiv_right{
    width: 92%;
    margin-right: 6%;
    margin-left: 2%;
    height: 100px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-size: 100% 100px;
}
.homenavigationotherdiv_WDGS{
    background-image: url("/image/home/WDGS_BG.png");
}
.homenavigationotherdiv_JJYS{
    background-image: url("/image/home/JJYS_BG.png");
}
.homenavigationotherdiv_ZRLF{
    background-image: url("/image/home/ZRLF_BG.png");
}
.homenavigationotherdiv_JKZX{
    background-image: url("/image/home/JKZX_BG.png");
}
.homenavigationjkzscircle{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: rgba(100, 100, 100, 0.5);
    display:inline-block;
    margin-top: 10px;
}
.homenavigationothercircle{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: rgba(244, 172, 71, 0.5);
    display:inline-block;
    margin-top: 10px;
}
.homenavigationcircleimg{
    text-align: center;
}
.homenavigationcircleimg img{
    width: 20px;
    height: 20px;
    padding-top: 15px;
}
.homenavigationcircletext{
    text-align: center;
    font-size: 13px;
    text-shadow: none;
    color: white;
    margin-top: 5px;
}
#wdgsjkzxzrlflisttable{
    width: 100%;
    border-collapse: collapse;
}
#wdgsjkzxzrlflisttable tbody tr td{
    height: 40px;
    border-bottom: 1px solid #DFD7C8;
}
#wdgsjkzxzrlflisttable tbody tr td:nth-child(1){
    width: 10px;
}
.contentpointdiv{
    width: 1px;
    height: 1px;
    border: 1px solid #56392F;
    background-color: #56392F;
    margin-left: 5px;
}
.wdgsjkzxzrlflistlistdiv{
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    color: #56392F;
}
#jjyslisttable{
    width: 100%;
    border-collapse: collapse;
}
#jjyslisttable tbody tr td{
    height: 100px;
    border-bottom: 1px solid #DFD7C8;
}
#jjyslisttable tbody tr td:nth-child(1){
    width: 70px;
}
.jjyscontentimagediv img{
    width: 60px;
    height: 60px;
    padding-left: 5px;
}
.jjyscontentlisttitle{
    font-size: 18px;
    font-weight: bold;
    color: #56392F;
    line-height: 1.6em;
    text-shadow: none;
}
.jjyscontentlistsummary{
    font-size: 14px;
    font-weight: normal;
    color: #56392F;
    text-shadow: none;
    line-height: 1.6em;
    padding-right: 6px;
}
#jjysjkzslisttable{
    width: 100%;
    border-collapse: collapse;
}
#jjysjkzslisttable tbody tr td{
    height: 50px;
    border-bottom: 1px solid #DFD7C8;
}
#jjysjkzslisttable tbody tr td:nth-child(1){
    width: 35px;
}
#jjysjkzslisttable tbody tr td:nth-child(3){
    width: 30px;
}
#jjysjkzslisttable tbody tr td img{
    width: 20px;
    height: 20px;
    padding-left: 5px;
}
.jjysjkzsvideotitle1{
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    color: #56392F;
    padding-left: 5px;
}
.jjysjkzsvideotitle2{
    font-size: 16px;
    font-weight: bold;
    text-shadow: none;
    color: #56392F;
    padding-left: 5px;
}
.jjysjkzscirclediv{
    width: 25px;
    height: 25px;
    border-radius: 13px;
    border: 1px solid #F39F51;
    line-height: 25px;
    text-align: center;
    margin-left: 5px;
}
.jjysjkzstrianglediv{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #F39F51;
    border-bottom: 5px solid transparent;
    margin-left: 9px;
    margin-top: 7px;
}
.jjysjkzsparalleldiv{
    width: 4px;
    height: 10px;
    border-left: 2px solid #F39F51;
    border-right: 2px solid #F39F51;
    margin-left: 8px;
    margin-top: 7px;
}
.jkzscontentemptylist{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    height: 180px;
    text-shadow: none;
}
.jkzscontentemptylist div img{
    height: 50px;
    width: 50px;
}
.jkzscontentemptydate{
    font-size: 16px;
    font-weight: normal;
    text-shadow: none;
    color: #56392F;
    height: 40px;
    line-height: 40px;
}
.jkzscontentemptybutton{
    width: 50%;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    font-weight: normal;
    text-shadow: none;
    color: #F4A046;
    border: 1px solid #F4A046;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-left: 25%;
}
.articledetailcontentdiv{
    min-height: 100px;
    width: 100%;
}
.articledetailcontenttitle{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: none;
    color: #56392F;
    padding-left: 10px;
}
.wdgsarticledetailtitlediv{
    width: 100%;
    height: 60px;
}
.wdgsarticledetailcontenttitle{
    float: left;
    width: 80%;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: none;
    color: #56392F;
    padding-left: 10px;
}
.wdgsarticledetailcontentbutton{
    float: left;
    width: 15%;
    height: 60px;
}
#wdgsarticledetailcontentbutton{
    margin-top: 16px;
}
#articledetailcontentvideo video{
    width: 96%;
    height: 200px;
    padding-left: 2%;
}
#articledetailcontentimage{
    width: 100%;
}
#articledetailcontentimage img{
    width: 96%;
    margin-left: 2%;
}
#articledetailcontenttext p{
    margin: 6px;
    color: #56392F;
    font-size: 13px;
    font-weight: normal;
    text-shadow: none;
    line-height: 1.8em;
}
#articledetailcontenttext img{
    width: 90%;
}
.articledetailthumbdiv{
    text-align: center;
    width: 100%;
    height: 110px;
    padding-top: 10px;
    border-top: 1px solid #DFD7C8;
}
.articledetailthumbimg{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    position: relative;
    background-color: #F39F51;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.articledetailthumbimg img{
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.articledetailthumblabel{
    margin-top: 10px;
    color: #F39F51;
    font-size: 12px;
    font-weight: normal;
    text-shadow: none;
    opacity: 0.8;
}
.articledetailthumbtext{
    margin-top: 5px;
    font-size: 15px;
    color: #F39F51;
    font-weight: bold;
    text-shadow: none;
}
.articledetailrelationtitle{
    font-size: 15px;
    font-weight: bold;
    text-shadow: none;
    color: #56392F;
    background-color: #F2ECE3;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}
#articledetailrelationlist{
    width: 100%;
    min-height: 50px;
}
#articledetailrelationlist table{
    width: 100%;
    text-shadow: none;
    border-collapse: collapse;
}
#articledetailrelationlist table tbody tr td{
    height: 40px;
    border-bottom: 1px solid #DFD7C8;
}
#articledetailrelationlist table tbody tr td:nth-child(1){
    width: 10px;
}
#articledetailrelationlist table tbody tr td:nth-child(2){
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    color: #56392F;
}
/*page*/
.contentbodypage{
    width: 100%;
    height: 60px;
    background-color: #F2ECE3;
    text-align: center;
}
.previouspagediv, .currentpagediv, .nextpagediv{
    width: 33.3%;
    height: 60px;
    float:left;
    position: relative;
    text-align: center;
}
.previouspage, .currentpage, .nextpage{
    font-size: 15px;
    color: #56392F;
    text-shadow: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    width: 70px;
    line-height: 30px;
    border: 1px solid #DFD7CB;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.previouspage{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.previouspage_opacity{
    font-size: 15px;
    color: #56392F;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    width: 70px;
    line-height: 30px;
    border: 1px solid #DFD7CB;
    border-radius: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #FFFFFF;
    opacity: 0.6;
}
.nextpage{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.nextpage_opacity{
    font-size: 15px;
    color: #56392F;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    width: 70px;
    line-height: 30px;
    border: 1px solid #DFD7CB;
    border-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FFFFFF;
    opacity: 0.6;
}
.userinfocontentdiv{
    width: 100%;
}
.userinfodiv{
    background-image: url("/image/user/background.png");
    background-size: 100% 190px;
    width: 100%;
    height: 180px;
}
#userinfoicon{
    text-align: center;
    padding-top: 8px;
    height: 60px;
    width: 100%;
}
#userinfoicon img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
#userinfoname{
    width: 100%;
    text-align: center;
    height: 45px;
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 16px;
    text-shadow: none;
    font-weight: normal;
}
.useropperatediv{
    width: 100%;
    height: 60px;
}
.useropperateunclick25div{
    float: left;
    width: 25%;
    height: 60px;
}
.useropperateclick25div{
    float: left;
    width: 25%;
    height: 60px;
    background-color: #FFFFFF;
}
.useropperate25img{
    width: 100%;
    height: 30px;
    text-align: center;
}
.useropperate25img img{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.useropperate25title{
    text-shadow: none;
    width: 100%;
}
.userunclicktitle{
    float: left;
    width: 80%;
    height: 30px;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    text-shadow: none;
    line-height: 30px;
    color: #FFFFFF;
}
.userclicktitle{
    float: left;
    width: 80%;
    height: 30px;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    line-height: 30px;
    color: #F5AD46;
    text-shadow: none;
}
.userbuttondiv{
    float: left;
    width: 20%;
    height: 30px;
}
.userunclickbutton{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #FFFFFF;
    margin-top: 11px;
}
.userclickbutton{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #F5AD46;
    margin-top: 11px;
}
.usercenter{
    min-height: 100px;
    background-color: #FFFFFF;
}
.usercenteremptyblockdiv{
    height: 25px;
    width: 100%;
}
.usercenteremptydiv{
    height: 50px;
    line-height: 50px;
    width: 60%;
    text-align: center;
    font-size: 16px;
    color: #F5A046;
    font-weight: normal;
    text-shadow: none;
    margin-left: 20%;
    border: 1px solid #F5A046;
    top: 30px;
    border-radius: 10px;
}
#usercenter table{
    width: 100%;
    border-collapse: collapse;
}
#usercenter table tbody tr td{text-shadow: none;
    height: 55px;
    border-bottom: 1px solid #DFD7C8;
}
#usercenter table tbody tr td:nth-child(1){text-shadow: none;
    width: 10px;
}
#usercenter table tbody tr td:nth-child(3){text-shadow: none;
    width: 60px;
}
.usercenterpointdiv{text-shadow: none;
    width: 1px;
    height: 1px;
    border: 1px solid #56392F;
    background-color: #56392F;
    margin-left: 5px;
}
.usercentertitlediv{text-shadow: none;
    font-size: 14px;
    font-weight: 500;
    color: #56392F;
}
.usercentertimediv{text-shadow: none;
    font-size: 10px;
    font-weight: 100;
    color: #DFD7C8;
    text-align: center;
}
.userviewhistorydiv{
    width: 100%;
}
.userviewhistorytitle{
    height: 50px;
    line-height: 50px;
    border: none;
    width: 100%;
    background-color: #F39F51;
    padding-left: 10px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: normal;
    text-shadow: none;
}
#userviewhistorylist{
    min-height: 100px;
    width: 100%;
    text-shadow: none;
    border-bottom: 1px solid #DFD7C8;
}
.userviewhistorylistemptyblockdiv{
    height: 25px;
    width: 100%;
}
.userviewhistorylistemptydiv{
    height: 50px;
    line-height: 50px;
    width: 60%;
    text-align: center;
    font-size: 16px;
    color: #F5A046;
    font-weight: normal;
    text-shadow: none;
    margin-left: 20%;
    border: 1px solid #F5A046;
    top: 30px;
    border-radius: 10px;
}
.userviewhistorymorebuttondiv{
    height: 55px;
    width: 100%;
}
.userviewhistorymorebutton{
    width: 90%;
    margin-left: 5%;
    border: 1px solid #F39F51;
    border-radius: 8px;
    margin-top: 20px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.userviewhistorybuttontext{
    float: left;
    width: 50%;
    text-align: right;
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    color: #F39F51;
    height: 35px;
    line-height: 35px;
}
.userviewhistorybuttonimg{
    float: left;
    width: 50%;
    text-align: left;
    height: 35px;
    line-height: 35px;
}
.userviewhistorybuttonimg img{
    width: 15px;
    height: 15px;
    margin-top: 9px;
    margin-left: 2px;
}
/*content footer*/
.contentfooterdiv{
    background-color: #F2ECE3;
}
.contentfooteraddiv{
    margin-bottom: 10px;
}
.footeraddiv{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.footeradimg{
    position:absolute;
    top:0;
    left:0;
    width:1500px;
}
.footeradimg img{
    float:left;
}
.footeradbtn{
    width: 100%;
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 10px;
    z-index: 11;
    text-align: center;
}
.footeradbtn a.hover{
    color:#F39F51;
}
a {
    text-decoration:none;
    color:#B9B9B9
}
.contentfooterswitchdiv{
    width: 100%;
    margin: 0 auto;
}
.phoneandpcdiv{
    width: 100%;
}
.phonediv{
    width: 49%;
    height: 30px;
    float: left;
    text-align: right;
}
.pcdiv{
    width: 49%;
    height: 30px;
    float: left;
    text-align: right;
}
.phonepcblockdiv{
    width: 2%;
    float: left;
    height: 30px;
}
.phone, .pc{
    width: 120px;
    height: 25px;
    border: 1px solid #F39F51;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #F39F51;
    margin:0 auto;
    text-align: center;
    vertical-align: middle;
}
.phoneimg, .pcimg{
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 10px;
}
.phonetext, .pctext{
    width: 50px;
    float: left;
    height: 30px;
    line-height: 25px;
}
.phoneimg img{
    width: 16px;
    height: 20px;
    margin-top: 2px;
}
.pcimg img{
    width: 20px;
    height: 20px;
    margin-top: 2px;
}
.declarediv{
    margin-top: 60px;
    text-align: center;
    text-shadow: none;
    height: 55px;
}
.aboutustitle{
    color: #56392F;
    font-size: 11px;
    font-weight: 400;
}
.aboutuscontent{text-shadow: none;
    color: #B8ACA4;
    font-size: 10px;
    font-weight: 200;
    margin-top: 5px;
}
/*footer*/
.footervideodiv{
    width: 100%;
    background-color: #686766;
    height: 80px;
    opacity: 0.9;
    text-shadow: none;
}
.footervideoplaydiv{
    height: 100%;
    float: left;
    width: 25%;
}
.footervideoplaycicle{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: none;
    background-color: #F39F51;
    margin-top: 10px;
    margin-left: 10px;
}
.footervideostop{
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-left: 18px solid #404242;
    border-bottom: 9px solid transparent;
    border-radius: 2px;
    margin-left: 24px;
    margin-top: 20px;
    position: absolute;
}
.footervideoplay{
    border-right: 3px solid #404242;
    border-left: 3px solid #404242;
    width: 8px;
    height: 18px;
    position: absolute;
    margin-top: 20px;
    margin-left: 24px;
}
.footervideourldiv{
    height: 100%;
    float: left;
    width: 75%;
}
.footervideotitle{
    color: #CCCFD3;
    width: 100%;
    text-align: left;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: none;
}
.footervideourl{
    width: 100%;
    height: 40px;
}
.audioplayer{
    color: #CCCFD3;
    border: none;
    background: none;
    z-index: 1;
    position: relative;
    height: 0px;
}
.audioplayer-bar{
    right: 0;
    top: 20px;
    left: 0;
    height: 8px;
    width: 80%;
    float: left;
    border: none;
}
.audioplayer-time{
    float: left;
    width: 20%;
    right: 0;
    line-height: 0px;
    top: 18px;
    font-size: 12px;
    font-weight: normal;
    text-shadow: none;
}
.audioplayer-bar-loaded{
    background-color: #CCCFD3;
}
.audioplayer-bar-played{
    background: -webkit-linear-gradient(left, #F39F51, #F39F51);
}