body {text-shadow: none;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif
}
/*头部*/
.blackheader{text-shadow: none;
    width: 100%;
    background-color: #474547;
    height: 50px;
}
.backdiv{text-shadow: none;
    width: 10%;
    height: 50px;
    float:left;
    position: relative;
}
.back{text-shadow: none;
    width: 15px;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.titlediv{text-shadow: none;
    height: 50px;
    width: 90%;
    float: left;
    position: relative;
    font-family: Tahoma,Verdana,STHeiTi,simsun,sans-serif;
}
.title{text-shadow: none;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 25px;
    width: 100px;
}
/*日期选择区域*/
.dateconditiondiv{text-shadow: none;
    width: 100%;
}
.datebuttondiv{text-shadow: none;
    width: 100%;
    height: 60px;
    text-align: center;
}
.datebuttondiv label{text-shadow: none;
    height: 35px;
    width: 90%;
    border: 1px solid #F4A046;
    border-radius: 5px;
    background-color: #F4A046;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 5%;
}
.dateselectdiv{text-shadow: none;
    min-height: 10px;
    width: 100%;
    text-align: left;
    background-color: #F2ECE3;
}
.dateselect{text-shadow: none;
    font-size: 16px;
    font-weight: 800;
    color: #56392F;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
}
/*搜索结果为空区域*/
.emptylist{text-shadow: none;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    height: 180px;
}
.emptylist div img{text-shadow: none;
    height: 50px;
    width: 50px;
}
.emptydate{text-shadow: none;
    font-size: 16px;
    font-weight: 500;
    color: #56392F;
    margin-top: 10px;
}
.emptybutton{text-shadow: none;
    width: 50%;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #F4A046;
    border: 1px solid #F4A046;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-left: 25%;
    padding-top: 5px;
}
/*音频播放区域*/
.videoplaydiv{text-shadow: none;
    height: 40px;
    width: 100%;
    padding-left: 2%;
}
.videoplay{text-shadow: none;
    width: 96%;
    height: 30px;
    background: #F4A046;
    border-radius: 5px;
    border: 1px solid #F2ECE3;
}
.videotitlediv{text-shadow: none;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 800;
    color: #56392F;
    height: 40px;
    line-height: 40px;
}
.healthvoicevideoplaydiv{text-shadow: none;
    height: 90px;
    width: 100%;
}
/*音频列表页*/
.videolistdiv{text-shadow: none;
    min-height: 100px;
    width: 100%;
}
.videolistdiv table{text-shadow: none;
    width: 100%;
    border-collapse: collapse;
}
.videolistdiv table tbody tr td{text-shadow: none;
    height: 50px;
    border-bottom: 1px solid #DFD7C8;
}
.videolistdiv table tbody tr td:nth-child(1){text-shadow: none;
    width: 35px;
}
.videolistdiv table tbody tr td:nth-child(3){text-shadow: none;
    width: 30px;
}
.videolistdiv table tbody tr td img{text-shadow: none;
    width: 20px;
    height: 20px;
    padding-left: 5px;
}
.videotitle1{text-shadow: none;
    font-size: 14px;
    font-weight: 400;
    color: #56392F;
    padding-left: 5px;
}
.videotitle2{text-shadow: none;
    font-size: 16px;
    font-weight: 600;
    color: #56392F;
    padding-left: 5px;
}
.circlediv{text-shadow: none;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    border: 1px solid #F39F51;
    line-height: 25px;
    text-align: center;
    margin-left: 5px;
}
.trianglediv{text-shadow: none;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #F39F51;
    border-bottom: 5px solid transparent;
    margin-left: 9px;
    margin-top: 7px;
}
.paralleldiv{text-shadow: none;
    width: 4px;
    height: 10px;
    border-left: 2px solid #F39F51;
    border-right: 2px solid #F39F51;
    margin-left: 8px;
    margin-top: 7px;
}
/*翻页*/
.page{text-shadow: none;
    width: 100%;
    height: 60px;
    background-color: #F2ECE3;
    text-align: center;
}
.previouspagediv, .currentpagediv, .nextpagediv{text-shadow: none;
    width: 33.3%;
    height: 60px;
    float:left;
    position: relative;
    text-align: center;
}
.previouspage, .currentpage, .nextpage{text-shadow: none;
    font-size: 15px;
    color: #56392F;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    width: 70px;
    line-height: 30px;
    border: 1px solid #DFD7CB;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.previouspage{text-shadow: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.previouspage_opacity{text-shadow: none;
    font-size: 15px;
    color: #56392F;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    width: 70px;
    line-height: 30px;
    border: 1px solid #DFD7CB;
    border-radius: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #FFFFFF;
    opacity: 0.6;
}
.nextpage{text-shadow: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.nextpage_opacity{text-shadow: none;
    font-size: 15px;
    color: #56392F;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    width: 70px;
    line-height: 30px;
    border: 1px solid #DFD7CB;
    border-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FFFFFF;
    opacity: 0.6;
}
/*底部*/
#footer{text-shadow: none;
    background-color: #F2ECE3;
}
.addiv{text-shadow: none;
    margin-bottom: 10px;
}
.switchdiv{text-shadow: none;
    width: 95%;
    margin: 0 auto;
}
.phonediv{text-shadow: none;
    width: 49%;
    height: 30px;
    float: left;
    text-align: right;
}
.pcdiv{text-shadow: none;
    width: 49%;
    height: 30px;
    float: left;
    text-align: right;
}
.phonepcdiv{text-shadow: none;
    width: 2%;
    float: left;
    height: 30px;
}
.phone, .pc{text-shadow: none;
    width: 120px;
    height: 25px;
    border: 1px solid #F39F51;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #F39F51;
    margin:0 auto;
    text-align: center;
    vertical-align: middle;
}
.phoneimg, .pcimg{text-shadow: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 10px;
}
.phonetext, .pctext{text-shadow: none;
    width: 50px;
    float: left;
    height: 30px;
    line-height: 25px;
}
.phoneimg img{text-shadow: none;
    width: 16px;
    height: 20px;
    margin-top: 2px;
}
.pcimg img{text-shadow: none;
    width: 20px;
    height: 20px;
    margin-top: 2px;
}
.declarediv{text-shadow: none;
    margin-top: 60px;
    margin-bottom: 5px;
    text-align: center;
}
.aboutustitle{text-shadow: none;
    color: #56392F;
    font-size: 11px;
    font-weight: 400;
}
.aboutuscontent{text-shadow: none;
    color: #B8ACA4;
    font-size: 10px;
    font-weight: 200;
    margin-top: 5px;
}
a{text-shadow: none;
    text-decoration:none;
    color:#B9B9B9
}
.slide{text-shadow: none;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.slide .img-div{text-shadow: none;
    position:absolute;top:0;left:0;width:1500px;
}
.slide .img-div img{text-shadow: none;
    float:left;
}
.slide img{text-shadow: none;
    width:500px;
}
.slide-btn{text-shadow: none;
    width: 100%;
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 10px;
    z-index: 11;
    text-align: center;
}
.slide-btn a.hover{text-shadow: none;
    color:#F39F51;
}