<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    <!--<link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">-->
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="audioplayer.min.js"></script>
    <link rel="stylesheet" href="audioplayer.css" />
</head>
<body>
    <div>
        <audio preload="auto" controls src="senya.mp3">
        </audio>
        <script>$( function() { $( 'audio' ).audioPlayer(); } );</script>
    </div>
</body>
</html>