<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taofang.webapi.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.taofang.webapi.model.Article">
    <result column="ArticleID" jdbcType="INTEGER" property="articleid" />
    <result column="ArticleName" jdbcType="VARCHAR" property="articlename" />
    <result column="ImageUrl" jdbcType="VARCHAR" property="imageurl" />
    <result column="LinkUrl" jdbcType="VARCHAR" property="linkurl" />
    <result column="Sequence" jdbcType="INTEGER" property="sequence" />
    <result column="LastUpdateDate" jdbcType="TIMESTAMP" property="lastupdatedate" />
    <result column="LastUpdateUser" jdbcType="VARCHAR" property="lastupdateuser" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
    <result column="KeyWord" jdbcType="VARCHAR" property="keyword" />
    <result column="Description" jdbcType="VARCHAR" property="description" />
    <result column="CategoryID" jdbcType="INTEGER" property="categoryid" />
    <result column="SetUrl" jdbcType="VARCHAR" property="seturl" />
    <result column="IsProgramEncyclopedia" jdbcType="CHAR" property="isprogramencyclopedia" />
    <result column="IsPrescriptionIndex" jdbcType="INTEGER" property="isprescriptionindex" />
    <result column="Disease" jdbcType="VARCHAR" property="disease" />
    <result column="Video" jdbcType="VARCHAR" property="video" />
    <result column="VideoDate" jdbcType="TIMESTAMP" property="videodate" />
    <result column="Category" jdbcType="INTEGER" property="category" />
    <result column="IsDTS" jdbcType="INTEGER" property="isdts" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.taofang.webapi.model.ArticleWithBLOBs">
    <result column="ArticleContent" jdbcType="LONGVARCHAR" property="articlecontent" />
    <result column="Summary" jdbcType="LONGVARCHAR" property="summary" />
    <result column="Symptom" jdbcType="LONGVARCHAR" property="symptom" />
  </resultMap>

  <select id="countHealthVoiceByVideoDate" resultType="java.lang.Integer">
    select
      count(*)
    from
      article
    where
      Category = 4
      <if test="videoDate != null">
        and VideoDate = #{videoDate, jdbcType=TIMESTAMP}
      </if>
  </select>
  <select id="selectHealthVoiceByVideoDate" resultMap="ResultMapWithBLOBs">
    select
      ArticleID, ArticleName, Video
    from
      article
    where
      Category = 4
      <if test="videoDate != null">
        and VideoDate = #{videoDate, jdbcType=TIMESTAMP}
      </if>
    order by VideoDate desc
    limit #{start}, #{limit}
  </select>
</mapper>